
:root {
  --pureWhite: #ffffff;
  --pureBlack: #000000;
  --black03: #030303;
  --gray77: #777777;
  --yellow43: #e8da43;
}
* {
	margin: 0px; padding: 0px; box-sizing: border-box; outline: none; resize: none;
}
html {
  font-size: 0px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
  }
  .brd-red, .red-brd {
    border: 1px solid red;
  }
  .brd-green, .green-brd {
    border: 1px solid green;
  }

 /* body styles */
body {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  color: var(--pureBlack);
  /* font-family: 'Aleo', serif; */
  font-family: 'Raleway', sans-serif;
	background-color: var(--pureWhite);
}
/* misc styles */

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
ul li {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none
}
a:hover {
  color: inherit;
}
 /* element specified styles */
img {
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  -o--position: center;
  -webkit-user-drag: none;
  object-position: center;
}
.icon {
  object-fit: contain;
  -o-object-fit: contain;
}
textarea, button, input, select, a {
  border: none;
  resize: none;
  outline: none;
  color: inherit;
  cursor: pointer;
	text-decoration: none;
}
 /* cursor styles */
.pointer {cursor: pointer; cursor: hand;}

a:active,a:focus,a:hover,a:visited {
    text-decoration: none
  }
a,a:active,a:focus,a:hover,a:visited,button::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,select::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner {
    border: 0;
    outline: 0
}
 /* some common margins and paddings that are reusable */
/*Margins*/
  .m0 {margin: 0px;}
  .m2 {margin: 2px;}
  .m5 {margin: 5px;}
  .m10 {margin: 10px;}
  .m15 {margin: 15px;}
  .m20 {margin: 20px;}
  .m25 {margin: 25px;}
  .m30 {margin: 30px;}
  .m35 {margin: 35px;}
  .m40 {margin: 40px;}
  .m45 {margin: 45px;}
  .m50 {margin: 50px;}
  .m55 {margin: 55px;}
  .m60 {margin: 60px;}

  /*Margin top*/
  .mt0 {margin-top: 0px;}
  .mt5 {margin-top: 5px;}
  .mt10 {margin-top: 10px;}
  .mt15 {margin-top: 15px;}
  .mt20 {margin-top: 20px;}
  .mt25 {margin-top: 25px;}
  .mt30 {margin-top: 30px;}
  .mt35 {margin-top: 35px;}
  .mt40 {margin-top: 40px;}
  .mt45 {margin-top: 45px;}
  .mt50 {margin-top: 50px;}
  .mt55 {margin-top: 55px;}
  .mt60 {margin-top: 60px;}

  /*Margin bottom*/
  .mb0 {margin-bottom: 0px;}
  .mb4 {margin-bottom: 4px;}
  .mb5 {margin-bottom: 5px;}
  .mb10 {margin-bottom: 10px;}
  .mb15 {margin-bottom: 15px;}
  .mb20 {margin-bottom: 20px;}
  .mb25 {margin-bottom: 25px;}
  .mb30 {margin-bottom: 30px;}
  .mb35 {margin-bottom: 35px;}
  .mb40 {margin-bottom: 40px;}
  .mb45 {margin-bottom: 45px;}
  .mb50 {margin-bottom: 50px;}
  .mb55 {margin-bottom: 55px;}
  .mb60 {margin-bottom: 60px;}

  /*Margin right*/
  .mr0 {margin-right: 0px;}
  .mr5 {margin-right: 5px;}
  .mr10 {margin-right: 10px;}
  .mr15 {margin-right: 15px;}
  .mr20 {margin-right: 20px;}
  .mr25 {margin-right: 25px;}
  .mr30 {margin-right: 30px;}
  .mr35 {margin-right: 35px;}
  .mr40 {margin-right: 40px;}
  .mr45 {margin-right: 45px;}
  .mr50 {margin-right: 50px;}
  .mr55 {margin-right: 55px;}
  .mr60 {margin-right: 60px;}

  /*Margin left*/
  .ml0 {margin-left: 0px;}
  .ml5 {margin-left: 5px;}
  .ml10 {margin-left: 10px;}
  .ml15 {margin-left: 15px;}
  .ml20 {margin-left: 20px;}
  .ml25 {margin-left: 25px;}
  .ml30 {margin-left: 30px;}
  .ml35 {margin-left: 35px;}
  .ml40 {margin-left: 40px;}
  .ml45 {margin-left: 45px;}
  .ml50 {margin-left: 50px;}
  .ml55 {margin-left: 55px;}
  .ml60 {margin-left: 60px;}

  /*Paddings*/
  .p0 {padding: 0px;}
  .p2 {padding: 2px;}
  .p5 {padding: 5px;}
  .p8 {padding: 8px;}
  .p10 {padding: 10px;}
  .p15 {padding: 15px;}
  .p20 {padding: 20px;}
  .p25 {padding: 25px;}
  .p30 {padding: 30px;}
  .p35 {padding: 35px;}
  .p40 {padding: 40px;}
  .p45 {padding: 45px;}
  .p50 {padding: 50px;}
  .p55 {padding: 55px;}
  .p60 {padding: 60px;}

  /*Padding bottom*/
  .pb0 {padding-bottom: 0px;}
  .pb5 {padding-bottom: 5px;}
  .pb8 {padding-bottom: 8px;}
  .pb10 {padding-bottom: 10px;}
  .pb15 {padding-bottom: 15px;}
  .pb20 {padding-bottom: 20px;}
  .pb25 {padding-bottom: 25px;}
  .pb30 {padding-bottom: 30px;}
  .pb35 {padding-bottom: 35px;}
  .pb40 {padding-bottom: 40px;}
  .pb45 {padding-bottom: 45px;}
  .pb50 {padding-bottom: 50px;}
  .pb55 {padding-bottom: 55px;}
  .pb60 {padding-bottom: 60px;}

  /*Padding top*/
  .pt0 {padding-top: 0px;}
  .pt5 {padding-top: 5px;}
  .pt8 {padding-top: 8px;}
  .pt10 {padding-top: 10px;}
  .pt15 {padding-top: 15px;}
  .pt20 {padding-top: 20px;}
  .pt25 {padding-top: 25px;}
  .pt30 {padding-top: 30px;}
  .pt35 {padding-top: 35px;}
  .pt40 {padding-top: 40px;}
  .pt45 {padding-top: 45px;}
  .pt50 {padding-top: 50px;}
  .pt55 {padding-top: 55px;}
  .pt60 {padding-top: 60px;}

  /*Padding left*/
  .pl0 {padding-left: 0px;}
  .pl2 {padding-left: 2px;}
  .pl5 {padding-left: 5px;}
  .pl10 {padding-left: 10px;}
  .pl15 {padding-left: 15px;}
  .pl20 {padding-left: 20px;}
  .pl25 {padding-left: 25px;}
  .pl30 {padding-left: 30px;}
  .pl35 {padding-left: 35px;}
  .pl40 {padding-left: 40px;}
  .pl45 {padding-left: 45px;}
  .pl50 {padding-left: 50px;}
  .pl55 {padding-left: 55px;}
  .pl60 {padding-left: 60px;}

  /*Padding right*/
  .pr0 {padding-right: 0px;}
  .pr5 {padding-right: 5px;}
  .pr10 {padding-right: 10px;}
  .pr15 {padding-right: 15px;}
  .pr20 {padding-right: 20px;}
  .pr25 {padding-right: 25px;}
  .pr30 {padding-right: 30px;}
  .pr35 {padding-right: 35px;}
  .pr40 {padding-right: 40px;}
  .pr45 {padding-right: 45px;}
  .pr50 {padding-right: 50px;}
  .pr55 {padding-right: 55px;}
  .pr60 {padding-right: 60px;}

/*Font Sizes*/
  .f0 {font-size: 0;}
  .f10 {font-size: 10px;}
  .f11 {font-size: 11px;}
  .f12 {font-size: 12px;}
  .f13 {font-size: 13px;}
  .f14 {font-size: 14px;}
  .f15 {font-size: 15px;}
  .f16 {font-size: 16px;}
  .f18 {font-size: 18px;}
  .f20 {font-size: 20px;}
  .f21 {font-size: 21px;}
  .f22 {font-size: 22px;}
  .f24 {font-size: 24px;}
  .f26 {font-size: 26px;}
	.f30 {font-size: 30px;}
	.f32 {font-size: 32px;}
  .f34 {font-size: 34px;}
  .f36 {font-size: 36px;}
  .f40 {font-size: 40px;}
  .f44 {font-size: 44px;}
  .f46 {font-size: 46px;}
  .f48 {font-size: 48px;}
  .f60 {font-size: 60px;}

   /* paddings and margins importants */
  .pl25-imp {
    padding-left: 25px !important;
  }

	 /* font weights and line-heights */
	.fw-l {font-weight: 300;}
	.fw-r {font-weight: 400;}
	.fw-n {font-weight: 500;}
	.fw-sb {font-weight: 600;}
	.fw-b {font-weight: 700;}
  .fw-xb {font-weight: 800;}

   /* line height and letter spacing */
  .lh-n {
    line-height: normal;
  }
  .ls-1 {
    letter-spacing: 1px;
  }
  .ls-15 {
    letter-spacing: 15px;
  }


 /* positioning the element */

.relative {position: relative;}
.absolute {position: absolute;}
.sticky {position: sticky;}
.fixed {position: fixed;}

.right-0 {
  right: 0px;
}
.left-auto {
  left: auto;
}
.left-0 {
  left: 0px;
}
.top-left{top: 0; left: 0;}
.top-right{top: 0; right: 0;}
.btm-right{bottom: 0; right: 0;}
.btm-left{bottom: 0; left: 0;}
.center-middle, .centermiddle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left-middle, .leftmiddle {
  top: 50%;
  left: 0px;
  transform: translate(0%, -50%);
}
.right-middle {
  top: 50%;
  right: 0px;
  transform: translate(0%, -50%);
}
.h-scroll {
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}


 /* display types */
.block {display: block;}
.inb, .inblock {display: inline-block;}
.table {display: table;}
.show-hidden-in {
}
.hide-me {
  display: none;
}
.hide-me:hover {
  display: inline-block;
}

/* vertical alignments */
.vmiddle {
  vertical-align: middle;
}
 /* text align styles */
.center {text-align: center;}
.right {text-align: right;}
.left {text-align: left;}
.upper,.uppercase {
  text-transform: uppercase;
}

 /* border styles */
.border-none {
  border: none;
}

/* flex styles */

.has-flex {
	display: flex;
  flex-wrap: wrap;
  display: -moz-box;
	align-items: center;
	display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	-ms-align-items: center;
	-webkit-align-items: center;
}
.flex-flow-col {
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
}
.row-reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.align-top {
	align-items: flex-start;
	-ms-align-items: flex-start;
	-webkit-align-items: flex-start;
}
.align-btm-end, .align-base, .align-bottom {
	align-items: flex-end;
	-ms-align-items: flex-end;
	-webkit-align-items: flex-end;
}
.align-stretch {
  align-items: stretch;
  -ms-align-items: stretch;
  -webkit-align-items: stretch;
}

.flex-nowrap, .nowrap {
  flex-wrap: nowrap;
}
.is-flex {
	flex: 1;
  -ms-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
}
.space-btw {
	justify-content: space-between;
	-ms-justify-content: space-between;
	-webkit-justify-content: space-between;
}
.align-center, .justify-center {
	justify-content: center;
	-ms-justify-content: center;
	-webkit-justify-content: center;
}

.justify-flex-end {
  justify-content: flex-end;
  -ms-justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.space-around {
	justify-content: space-around;
	-ms-justify-content: space-around;
	-webkit-justify-content: space-around;
}

 /* background-images styles */

.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bg-contain {
  background-size: contain;
}


 /* grid-columns styles */
.col-2d-1s {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-template-columns: repeat(2, 1fr);
}

.col-2 {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-template-columns: repeat(2, 1fr);
}
.col-3d-2t-1m {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-template-columns: repeat(3, 1fr);
}
.col-4d-3t-1m {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-template-columns: repeat(4, 1fr);
}
.col-d5, .col-5d {
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-template-columns: repeat(5, 1fr);
}

.col-gap10 {
  grid-column-gap: 10px;
  -ms-grid-column-gap: 10px;
}
.col-gap15 {
  grid-column-gap: 15px;
  -ms-grid-column-gap: 15px;
}
.col-gap20 {
  grid-column-gap: 20px;
  -ms-grid-column-gap: 20px;
}
.row-gap10 {
  grid-row-gap: 10px;
  -ms-grid-row-gap: 10px;
}
.row-gap15 {
  grid-row-gap: 15px;
  -ms-grid-row-gap: 15px;
}
.row-gap20 {
  grid-row-gap: 20px;
  -ms-grid-row-gap: 20px;
}
.desktop-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}


 /* width and heights for icons */
.is10 {
  width: 10px;
  height: 10px;
}
.is12 {
  width: 12px;
  height: 12px;
}
.is14 {
  width: 14px;
  height: 14px;
}
.is16 {
  width: 16px;
  height: 16px;
}
.is18 {
  width: 18px;
  height: 18px;
}
.is20 {
  width: 20px;
  height: 20px;
}
.is24 {
  width: 24px;
  height: 24px;
}
.is28 {
  width: 28px;
  height: 28px;
}
.is30 {
  width: 30px;
  height: 30px;
}
.is32 {
  width: 32px;
  height: 32px;
}
.is34 {
  width: 34px;
  height: 34px;
}
.is36 {
  width: 36px;
  height: 36px;
}
.is40 {
  width: 40px;
  height: 40px;
}
.is48 {
  width: 48px;
  height: 48px;
}
.is100 {
  width: 100px;
  height: 100px;
}

 /* z-index */
.z99 {
  z-index: 99;
}

/* mobile styles */
@media only screen and (max-width: 767px) {
  .col-2d-1s, .col-3d-2t-1m, .col-4d-3t-1m {
    grid-template-columns: 1fr;
    -ms-grid-template-columns: 1fr;
  }
}

/* tab portraite styles */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .col-3d-2t-1m {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-template-columns: repeat(2, 1fr);
  }
  .col-4d-3t-1m {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-template-columns: repeat(3, 1fr);
  }
}
