
svg:not(:root), symbol, image, marker, pattern, foreignObject {
overflow: visible;
height: inherit;
width: inherit;
display: inline-block;

}

.bg {
  background-color: #9acad2;
  padding: 20px;
}
.is-24 {
  width: 24px;
  height: 24px;
  display: inline-block;
}
.fill-red {
  fill: red;
}
.fill-green {
  fill: green;
}
.fill-yellow {
  fill: yellow;
}
.fill-purple {
  fill: purple;
}
